<center>
<head>
	<title>Sold Out QRコード参照ページ</title>
</head>
<h1>Sold Out QRコード参照ページ</h1>
<form method="get" action="/users/show">
 <div class="cp_iptxt">
	<input class="ef" type="text" placeholder="" name="num"　 font-size: 16px>
	<label>登録番号</label>
	<span class="focus_line"></span>
	<input type="submit" value="参照" class="button">
</div>
</form>
<p>
登録番号の最初のアルファベットを除いた数字7桁を入力してください
<br>
例) S2012345 → 2012345
</p>
</center>